  .card {
    width: 1200px;
    max-width: calc(100% - 20px);
    margin: 0 auto;
    padding: 0 10px;
    height: 565px;
    border-radius: 0px 0px 0.625rem 0.625rem; 
  }


  *::-webkit-scrollbar {
    width: 0.313rem;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 0.313rem;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 0.875rem;
    border: none;
  }

  .card-body {
    display: inline-block;
    overflow-y: auto;
  }

  .chat-start .chat-bubble{
    overflow: hidden;
    overflow-y: auto;
  }

  .text {
    font-size: small;
    overflow-x: none;
    font-size: 20px;
    padding-top: 1rem;
    padding-left: 20px;
    overflow: hidden;
  }

  .navbar {
    border-radius: 0.625rem 0.625rem 0px 0px;
    color: white;
    width: 1200px;
    max-width: calc(100% - 20px);
    margin: 0 auto;
    padding: 0 10px;
  }

  .input::placeholder {
    color: #94a3b8;
  }

  .inputColor{
    display: flex;
    flex-direction: row;
  }

  /*Picker from https://codesandbox.io/p/sandbox/react-colorful-popover-opmco?file=%2Fsrc%2FPopoverPicker.js%3A2%2C10-2%2C24*/

  .picker {
    position: relative;
  }
  
  .swatch {
    width: 30px;
    height: 30px;
    border-radius: 8px;
    border: 3px solid #fff;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  
  .popover {
    z-index: 1;
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    border-radius: 9px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }